<!DOCTYPE html>
<html>
<head>
    <title>Cafe test</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}
    <script src="{{ asset('build/js/jquery-3.3.1.min.js') }}"></script>

    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .content_block{
            background-color: #00b3ee;
            margin: 5px;
        }

    </style>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyC9V8gkH_vKTxFLJMyG9LCgpkObzeC1-Lk" >

    </script>
    {% block javascripts %}{% endblock %}

</head>
<body>
<div id="map"></div>
{% block body %}{% endblock %}
</body>
</html>
