{% extends 'baseXleGm_cafe_search.html.twig' %}

        {% block javascripts %}
            <script src="{{ asset('build/js/_cafeSearch.js') }}"></script>
        {% endblock %}


{% block body %}
    <div class="container-fluid content_block">
        <div class="row">
            <h1>welcome to Google Cafe!</h1>
            <div class="col-md-3" style="background-color: aliceblue">
                <b>side left</b>
                <button class="btn btn-success"
                onclick="
                $('#info_test').html('jQuery is here');"
                >test</button>
            </div>
            <div class="col-md-9" style="background-color: lightgrey">
                <b>side right</b><br>
                <div id="info_test"></div>

            </div>
        </div>

    </div>

    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/js/common.js') }}"></script>
    <script src="{{ asset('build/js/app.js') }}"></script>

{% endblock %}
