{% extends 'baseXleJq.html.twig' %}

        {% block javascripts %}
            <script src="{{ asset('build/js/_testJQuery.js') }}"></script>
        {% endblock %}


{% block body %}
    <div class="container-fluid content_block">
        <div class="row">
            <h1>welcome to Google Cafe!</h1>
            <div class="col-md-3" style="background-color: aliceblue">
                <b>side left</b>
                <button class="btn btn-success"
                onclick="
                testJquery();
                sendQuery();"
                >test</button>
            </div>
            <div class="col-md-9" style="background-color: lightgrey">
                <b>side right</b><br>
                <div id="info_test"></div>

            </div>
        </div>

    </div>
{% endblock %}
