<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <b>Список кафе с карты</b>
            <table class="table-hover" style="width: 100%">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Рейтинг</th>
                    <th>Статус</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                </tbody>
            </table>

        </div>

    </div>
</div>

